
.icon-play:before { content: '\e800'; } /* '' */
.icon-pause:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */
.icon-gplus:before { content: '\e804'; } /* '' */
.icon-volume-off:before { content: '\e805'; } /* '' */
.icon-volume-up:before { content: '\e806'; } /* '' */
.icon-youtube:before { content: '\e807'; } /* '' */